/*
CONTENTS

1. Main elements
2. Form css
3. Buttons

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap'); */

/*  ------------------------------------------------------ 1. Main elements */

:root {

  /* Basic colors*/
  --main-text-color: rgb(58 58 58 / 80%);
  --header-color: rgb(0 0 0 / 90%);
  --purple-text: #9c27b0;

  --box-shadow: 0 0 0 1px rgb(0 0 0 / 4%);
  --hover-box-shadow:  0 0 10px 1px rgb(76 175 80 / 20%);
  --gray-placeholder: #607d8b;
}
html, body {
  font-family: system-ui, -apple-system, Rubik, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--main-text-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: pan-y;
  background: #f3f2ef;
}
/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}
h6, h5, h4, h3, h2, h1 {
  font-family: system-ui, -apple-system, Nunito Sans, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--header-color);
  font-weight: 400;
}
/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  h6, h5, h4, h3, h2, h1 {
    font-weight: lighter !important;
  }
}
h2 {
  margin-bottom: 2rem;
}
h3 {
  margin-bottom: 1rem;
}
h4 {
  margin-bottom: 1rem;
}
h5 {
  margin-bottom: .2rem;
  transition: all 300ms;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: .5rem;
}
.container {
    margin-top: 3rem;
}
.content {
  visibility: visible;
  opacity: 0;
}
@media (max-width: 992px) {
  .container {
      margin-top: 1rem;
  }
}
h5::first-letter {
  font-weight: 500;
  color: var(--purple-text);
  padding-right: .03rem;
}
.show-articles, .create-article {
    cursor: pointer;
    transition: all 300ms;
}
.show-articles:hover h5, .create-article:hover h5 {
  padding-left: .1rem;
}
.article-cart {
  border: none;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  background: #fff;
  transition: all 300ms;
}
.article-cart:hover {
  box-shadow: var(--hover-box-shadow);
}
.article-link {
  text-decoration: none;
  font-size: .9rem;
  font-weight: 500;
  cursor: pointer;
  padding: .5rem 0 .5rem 1rem;
  color: #0a66c2;
  transition: all 300ms;
}
.article-link:hover {
  color: #009688;
}
.article-author {
  display: inline-block;
  font-size: .7rem;
  font-weight: 500;
  color: #607d8b;
}
.nothing-found {
  text-align: center;
  font-weight: 500;
  max-width: 10rem;
  margin-top: 3rem;
  border: none;
  border-radius: 7px;
  padding: .5rem 1rem;
  box-shadow: var(--box-shadow);
  background: #fff;
  color: #9c27b0;
}
.author-link {
  display: inline-block;
  font-size: .8rem;
  font-weight: 500;
  color: #607d8b;
  transition: all 300ms;
}
.author-link:hover {
  color: #0a66c2;
}

/* ------------------------------------------------------------ 2. Form css */
.form-row {
  flex-wrap: wrap;
}
.form-group {
  position: relative;
}
.form-group {
  margin-bottom: 1rem;
}
.form-control {
  color: #1f4872;
  border: none;
  padding: 0.11rem 0.75rem;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 70%);;
}
.form-control:hover {
  box-shadow: 0 0 5px 0 rgb(0 150 136 / 50%);
  cursor: pointer;
}
.form-control:focus {
  box-shadow: 0 0 5px 0 rgb(0 150 136 / 50%);
  color: #607d8b;
}
.form-control::placeholder {
  color: var(--gray-placeholder);
  font-weight: 300;
}
label {
  margin-bottom: .5rem;
}
.laravel-alert {
  display: inline-block;
  color: #ba68c8;
  margin-top: .5rem;
}
.alert-border {
  box-shadow: 0 0 5px 0 rgb(156 39 176 / 50%);
}

/* ------------------------------------------------------------ 3. Buttons  */
.btn-default {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: .2rem;
  border: none;
  width: 5rem;
  text-align: center;
  border-radius: 5px;
}
.btn-edit-article {
  background: #009688;
  transition: all 300ms;
}
.btn-edit-article:hover {
  color: #fff;
  background: #4caf50;
}
.btn-delete-article {
  background: #9c27b0;
  transition: all 300ms;
}
.btn-delete-article:hover {
  color: #fff;
  background: #e91e63;
}
